*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

header{
	width: 100%;
	background-image:linear-gradient(rgba(1, 2, 15, 0.850),rgba(1, 2, 15, 0.850),rgba(1, 2, 15, 0.850),rgba(1, 2, 15, 0.850)), url('home (10).jpg');
	

}

nav{
	
	width: 100%;
	height: 12vh;
	background: rgba(180, 159, 159, 0.2);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;

}



nav .menu{
	display: flex;
}

nav .menu ul{
  display: flex;
  list-style: none;

}

nav .menu ul li{
  width: 120px;
  margin: 10px;
  padding: 15px;
}


nav .menu ul li a{
  text-decoration: none;
  color: white;
  text-align: center;
	word-break: none;
	}


.active, nav .menu ul li:hover
{ background: black;
  border-radius: 3px;
  box-sizing: border-box;
  border: 2px solid white;
  width: 120px;

}
.submenu{
  display: none;
}

nav .menu ul li:hover .submenu
{
  display: block;
  position: absolute;
  background:  black;
  margin-top: 15px;
  margin-left: -50px;
}

nav .menu ul li:hover .submenu ul{
  display: block;
  margin: 1px;


}

nav .menu ul li:hover .submenu ul li{
  width: 180px;
  padding: 10px;
  border: 1px solid white;
  background: rgba(10,0,0,.2);
  border-radius: 1px;
  color: black;
  text-align: left;
}

nav .menu ul li:hover .submenu ul li:hover a{ 
	background: white;
	color: green;

}


main {
	width: 100%;
	height: 100vh;
	display: flex;
	background-image:linear-gradient(rgba(168, 162, 162, 0.2),rgba(0,0,0,.15), url('interior-design-332212.jpg');
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;

}


section {
	margin-top: 100px;
    margin-left: 40px;  
    letter-spacing: 1px;

}

section span{
	color: rgb(218, 218, 15);
}


section h1{
	
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Comfortaa', cursive;
}

a{
	padding: 15px 50px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
}

.button2{
	background: rgb(218, 218, 15);
	color: white;
	
}

a:hover{
	background:rgb(29, 187, 29) ;

}

.searchbar{
	position: relative;
}

.searchbar input[type="text"]{
	border: 0;
	padding: 0 10px;
	width: 400px;
	height: 35px;
	border: 1px solid crimson;
	outline: blue;
	border-radius: 25px;
}

.icon-1{
	position: absolute;
	top: 0;
	right: 0;
	background: chartreuse;
	width: 100px;
	height: 100%;
	border-radius: 30px;
	color: black;
}

.icon-1 i{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		cursor: pointer;
}


/*first add section desing*/


.container {
	margin-top: 100px;
	margin-bottom: 100px;
	width: 90%;
	align-content: center;
	box-sizing: border-box;

}

.container img{
	width: 550px;
	height: 50vh;
	float: right;
}

.container1{
	margin-top: 100px;
	padding: 50px;
	width: 50%;
	
}


.container1 h1{
	font-family: 'Courier New', Courier, monospace;
	font-size: 35px;
	color: blueviolet;
}

.container1 p{
	font-family: 'Courier New', Courier, monospace;
	padding-top: 10px;
}


/*second add section desing*/

.container {
	margin-top: 100px;
	margin-bottom: 100px;
	width: 90%;
	align-content: center;
	box-sizing: border-box;

}

.container2 img{
	padding-left: 50px;
	width: 600px;
	height: 50vh;
}

.container3{
	margin-top: 100px;
	width: 50%;
	float: right;
	padding-left: 100px;
}


.container3 h1{
	font-family: 'Courier New', Courier, monospace;
	font-size: 35px;
	color: blueviolet;
}

.container3 p{
	font-family: 'Courier New', Courier, monospace;
	padding-top: 10px;
}
